.sidebar {
	width: 245px;
	height: 100%;
	border-right: 1px solid @BORDER_COLOR;
	background-color: @GRAY_BASE;

	.activeLink {
		li {
			background-color: red;
		}
	}

	.wrap {
		color: @GRAY_FONT;

		.title {
			text-indent: 1em;
			height: 30px;
			line-height: 30px;
		}

		ul {
			li {
				height: 33px;
				display: flex;
				align-items: center;
				text-indent: 2em;
				color: @GRAY_FONT;
			}

			.active {
				> li {
					color: @GRAY_FONT_HOVER;
					background-color: @GRAY_BG;
					border-left: 4px solid @RED_BASE;
					text-indent: (2*@fontSize - 4);
				}
			}
		}
	}
}
