.findmusic {
	padding: 0 40px;

	.banner {
		width: 100%;
		height: 200px;
		background-color: #f0f0f0;
		margin-top: 30px !important;
	}

	.row {
		max-width: 950px;
		margin: auto;

		.title {
			height: 54px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid @BORDER_COLOR;
			color: @GRAY_FONT_HOVER;
			font-size: 18px;
		}

		.content {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 12px;
		}
	}
}
