@import './normalize.less';
// components
@import './base.less';
@import './components/header.less';
@import './components/musiclist.less';
// container
@import "./components/sidebar.less";
@import "./containers/findmusic.less";
@import "./containers/playlist.less";

//mixins
@import "./mixins/scroll.less";

#root {
	width: 100%;
	height: 100%;
	overflow: hidden;

	.common {
		height: inherit;

		.container {
			height: inherit;
			display: flex;

			> .main {
				flex: 1;
				overflow-y: scroll;
				.scroll();
			}
		}
	}
}
