@import './normalize.less';
@import '~./base.less';
@import './components/header.less';
@import './components/musiclist.less';
@import "./components/playbar.less";
@import "./components/slider.less";
@import "./components/disc.less";
@import "./components/lyric.less";


// container
@import "./components/sidebar.less";
@import "./containers/findmusic.less";
@import "./containers/playlist.less";
@import "./containers/songdetail.less";

//mixins
@import "./mixins/scroll.less";

#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

	.common {
		height: 100%;
		display: flex;
		flex-direction: column;

		.container {
			display: flex;
			flex: 1;
			padding-bottom: 51px;

			> .main {
				flex: 1;
				overflow-y: scroll;
				.scroll();
			}
		}
	}
}
